[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "basictabler"]
	path = basictabler
	url = https://github.com/cbailiss/basictabler
[submodule "pivottabler"]
	path = pivottabler
	url = https://github.com/cbailiss/pivottabler
